.filter-label {
    display:flex;
    flex-direction:column;
    gap:7px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;

    input {
        font-size: 18px;
        padding:7px;
    }
}